@model Rate
<ul>
    <li>Id: @Model.Id</li>
    <li>Name: @Model.Name</li>
    <li>Rating: @Model.Rating</li>
    <li>FeedBack: @Model.Feedback</li>
</ul>

<form asp-action="Delete">
    <div>
        <label>Are you sure you want to delete</label>
        <input type="submit" value="Delete"/>
    </div>

</form>
